<ion-header no-border #headerTransparent>
  <ion-buttons slot="start">
    <ion-back-button class="backButton" defaultHref="home"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content (ionScroll)="isScroll($event)" scrollEvents="true">
  <div class="headerImage">
    <img src="../../assets/img/treat.jpg">
  </div>

  <div padding>
    <ion-text #title class="title">Tratamento</ion-text>

    <p class="text">
      Evitar a transmissão entre parceiros consequentemente evita a transmissão para o feto, por isso é importante
      detectar a doença o quanto antes para realizar tratamento adequado.
    </p>

    <div class="cardImage">
      <img src="../../assets/img/img-4038-large.jpg">
    </div>
    <p class="text">
      O tratamento é realizado através de antibióticos eficazes contra bactérias sensíveis. Procurar uma unidade de
      atendimento é fundamental para saber como será o tratamento com esse medicamento. O mesmo utilizado para Sífilis
      adquirida é também o da Sífilis congênita, sendo que a gestante infectada deverá se preocupar em faze-lo até um
      mês antes do parto. O bebê que nasce com Sífilis congênita ficará internado no hospital de 7 à 10 dias recebendo a
      medicação. Vale lembrar que se não tratado pode levar ao aborto.
    </p>

    <div class="finishButton">
      <ion-button>
        Terminei
      </ion-button>
    </div>
  </div>
</ion-content>