<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-back-button class="backButton" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Créditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" text-center>
        <a href="http://www.univas.edu.br/" target="_blank"><img class="imgCredit" src="../../assets/img/univas_white.png"></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <p>Cartilha criada pelos estudantes do curso de Enfermagem</p>
        <ion-title class="titulo">Criadores da Cartilha</ion-title>
        <div>
          <h6>Gustavo Gabriel de Lima Silva</h6>
          <h6>Rafler Augusto Rodrigues da Silva</h6>
        </div>
        <ion-title class="titulo">Orientadora</ion-title>
        <div>
          <h6>Maria Cristina Porto e Silva</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="12">
        <p>Aplicativo Desenvolvido por estudantes do curso de Sistemas de Informação</p>
        <ion-title class="titulo">Desenvolvedores</ion-title>
        <div>
          <h6>Wellington Thallyson </h6>
          <h6>Misael Kelviny</h6>
        </div>
        <ion-title class="titulo">Orientadores</ion-title>
        <div>
          <h6>Rodrigo Faria</h6>
          <h6>Roberto Rocha </h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-start>
        <ion-title class="titulo">Referências</ion-title>
        <p class="references">SONDA, E. C. et al. <span class="referenciaEnfase">Sífilis Congênita: uma revisão da literatura</span>. Revista de Epidemiologia e Controle de
          Infecção, v. 3, n. 1, p. 28-30, 22 jan. 2013. BRASIL. <span class="referenciaEnfase">Secretaria de Vigilância em Saúde − Ministério da Saúde.
          Boletim Epidemiológico – Sífilis</span>. v. 48, n. 36, 2017. BITTENCOURT, R. R.; PEDRON, C. D. <span class="referenciaEnfase">Sífilis: abordagem dos
          profissionais de saúde da família durante o pré-natal</span>. Journal of Nursing Health, v. 2, n. 1, p. 9-17,
          jan./jun., 2012. MAGALHÃES, D. M. S., et al.<span class="referenciaEnfase"> A sífilis na gestação e sua influência na morbimortalidade
          materno-infantil</span>. Com. Ciências Saúde, v. 22, n. 1, p. 543-54, 2011</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>