// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: 200;
}

ion-content {
  --ion-background-color: linear-gradient(160.61deg, #faecee 18.35%, #ffffff 54.94%) !important;
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #d24a7d;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: justify;

  color: #000000;
}

.finishButton{
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}