// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: 200;
}

ion-content {
  --ion-background-color: linear-gradient(160.61deg, #faecee 18.35%, #ffffff 54.94%) !important;
}

.sc-ion-buttons-ios-h{
  height: 50px !important;
}
// input.searchbar-input.sc-ion-searchbar-md {
//   border-radius: 40px !important;
//   box-shadow: none !important;
// }
.imgSize{
  width: 50%;
  display: flex;
  margin: 0 auto;
}
.alert-message.sc-ion-alert-md{
  max-height: 100% !important;
}
.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #d24a7d;
  position: sticky;
  top: 10px;
  z-index: 999;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

.finishButton {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.toolbar-background {
  --background: var(--ion-toolbar-background, var(--ion-background-color, #d66)) !important;
}

.transparent-background {
  --background: transparent !important;
}

div.headerImage {
  top: 0;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

div.headerImage img {
  max-width: 140% !important;
  margin: 0 auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.backButton {
  --color: #f840ce;
}

.pageContainer {
  position: relative;
  top: 120px;
}

.cardImage {
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.cardMenu {
  background: #ffffff;
  border: 1px solid rgba(210, 74, 125, 0.37);
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(226, 119, 159, 0.26);
  border-radius: 10px;
  height: 150px;
  margin: 10px;
}

.cardTitle {
  font-family: Poppins SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #d24a7d;
  margin: 0;
  width: 200px;
  padding: 0;
}

.cardText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #e2779f;
  margin: 0;
  padding: 0;
}

.menuImage {
  position: absolute;
  top: -6px;
  right: -5px;
  width: 100%;
  justify-content: end;
  display: grid;
}

.menuTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #4d4d4d;
}

.menuSpanTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #d24a7d;
}

.my-1 {
  margin: 10px;
}

.credit {
  font-size: 13px;
  text-align: center;
  margin: 20px;
}
