// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: 200;
}

ion-content {
  --ion-background-color: linear-gradient(160.61deg, #faecee 18.35%, #ffffff 54.94%) !important;
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #d24a7d;
  position: sticky;
  top: 10px;
  z-index: 999;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: justify;

  color: #000000;
}

.finishButton {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.toolbar-background {
  --background: var(--ion-toolbar-background, var(--ion-background-color, #d66)) !important;
}

.transparent-background {
  --background: transparent !important;
}

div.headerImage {
  top: 0;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

div.headerImage img {
  max-width: 140% !important;
  margin: 0 auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.backButton {
  --color: #f840ce;
}

.pageContainer {
  position: relative;
  top: 120px;
}

.cardImage {
  width: 70%;
  height: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
