<ion-header no-border>
  <ion-toolbar class="new-background-color">
    <ion-searchbar placeholder="Doença, Tratamento..." animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="my-1">
    <ion-text class="menuTitle">Você Conhece a <span class="menuSpanTitle">Sífilis</span> ?</ion-text>
  </div>

  <div class="cardMenu" (click)="sifilisPage()">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Sífilis
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                Vamos começar falando sobre a Sífilis adquirida.
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 131 120" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern0)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image0" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image0" width="945" height="462" xlink:href="../../assets/img/img1.jpg" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cardMenu" (click)="fasesPage()">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Fases da Sífilis
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                É importante saber que existe diferentes fases da evolução da sífilis.
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 132 121" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern1)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image1" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image1" width="945" height="462" xlink:href="../../assets/img/img2.jpg" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cardMenu" (click)="congenitaPage()">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Sífilis Congênita
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                Uma doença congênita é aquela adquirida durante a gestação.
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 132 121" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern2)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image2" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image2" width="945" height="462" xlink:href="../../assets/img/gravida98983.jpg" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cardMenu">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Tratamento
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                Evitar a transmissão entre parceiros consequentemente evita a transmissão
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 132 121" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern4)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern4" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image4" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image4" width="945" height="462" xlink:href="../../assets/img/treat.jpg" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cardMenu">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Como saber se estou com Sífilis?
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                Ao verificar que há sintomas iguais
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 132 121" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern8)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern8" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image8" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image8" width="945" height="462" xlink:href="../../assets/img/lab.jpg" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cardMenu">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Prevenção
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                Como se trata de uma infecção transmitida pela relação sexual
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 132 121" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern5)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern5" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image5" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image5" width="945" height="462" xlink:href="../../assets/img/camisinha1.JPG" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cardMenu">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                Camisinha
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                É o método de prevenção mais eficaz não só da sífilis
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage">
            <svg width="170" height="150" viewBox="0 0 132 121" fill="none" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M71 0H121C126.523 0 131 4.47715 131 10V110C131 115.523 126.523 120 121 120H0C0 120 31 114 31 60C31 6 71 0 71 0Z"
                fill="url(#pattern6)" fill-opacity="0.4" />
              <defs>
                <pattern id="pattern6" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image6" transform="translate(-0.436849) scale(0.00198275 0.0021645)" />
                </pattern>
                <image id="image6" width="945" height="462" xlink:href="../../assets/img/camisinha2.JPG" />
              </defs>
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>