ion-content{
    --ion-background-color:#FAECEE !important;
}

.new-background-color{
    --background: #FAECEE !important;
}
input.searchbar-input {
    border-radius: 40px !important;
    box-shadow: none !important;
}