<ion-header no-border>
  <ion-toolbar class="new-background-color">
    <ion-searchbar [(ngModel)]="searchBar" placeholder="Doença, Tratamento..." animated (ionInput)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="my-1">
    <ion-text class="menuTitle">Você Conhece a <span class="menuSpanTitle">Sífilis</span> ?</ion-text>
  </div>

  <div class="cardMenu" *ngFor="let card of cardMenu" #menuList>
    <ion-grid>
      <ion-row (click)="openPage(card.pages)">
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <p class="cardTitle">
                {{card.titles}}
              </p>
            </ion-col>
            <ion-col size="12">
              <p class="cardText">
                {{card.subtitle}}
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <div class="menuImage" >
            <img src="{{card.url}}" height="150" [ngClass]="card.imageName">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="credit" (click)="openCredits()">
    <a>Créditos</a>
  </div>
</ion-content>