.myClass {
  fill: url(#image);
  stroke: red;
  stroke-width: 5;
}.new-background-color {
  --background: #faecee !important;
}

.image00 {
  fill: url(#image00);
}
.image01 {
  fill: url(#image01);
}
.image02 {
  fill: url(#image02);
}
.image03 {
  fill: url(#image03);
}
.image04 {
  fill: url(#image04);
}
.image05 {
  fill: url(#image05);
}
.image06 {
  fill: url(#image06);
}